extends layout

block layout-content
  div.View
    h1.Banner AlgaeCal QA Developer Test
    div.Message
      div.Title
        h1 AlgaeCal Product Bundle Specials
        // h3 QA Developer Test
      span.Details Select Bundle To Test!
      img(src='algaecal_product_bundles.png')
    // div.NavButtons
    //  a(href="/user")
    //      div.NavButton Just dive in Already!
