extends layout

block layout-content
  div.View
    h1.Banner AlgaeCal QA Developer Test
    div.Message
      div.Title
        h1 AlgaeCal Product Bundle Specials
        // h3 QA Developer Test
      span.Details Select Bundle To Test!
      map(name="add_to_cart_buttons")
        area(href="/add_to_cart/3/244" alt="3_month_bundle" shape="rect" coords="140,372,287,405")
        area(href="/add_to_cart/6/396" alt="6_month_bundle" shape="rect" coords="425,372,567,405")
        area(href="/add_to_cart/12/768" alt="12_month_bundle" shape="rect" coords="707,372,850,405")
      img(src="algaecal_product_bundles.png" width="986" height="473" usemap="#add_to_cart_buttons")
    div.NavButtons
      a(href="/shopping_cart")
        div.NavButton View Cart