extends layout

block layout-content
  div.View.UserView
    h1.Banner AlgaeCal QA Developer Test
    div.Message
      div.Title
        h1 Shopping Cart
        h3 timestamp
            table
                thead
                    tr
                        th Description
                        th Price
                        th Quantity
                        th Extended
                tbody
                    each cartItem in cartItems
                        tr
                            td= cartItem.itemDescription
                            td= cartItem.price
                            td= cartItem.quantity
                            td= cartItem.extended
                tfoot
                    tr
                        td(colspan="2")
                        td Order Total
                        td total

    div.NavButtons
      a(href="/")
        div.NavButton Back